* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: rgb(99 100 122);
    font-family: Arial, sans-serif;
    position: relative;
}

/*header*/
header {
    background-color: white;
    height: 110px;
    width: 100%;
    box-shadow: 0 0 14px black;
    display: flex;
    padding: 0px 80px;
    align-items: center;
    justify-content: space-between;
}



h1 a {
    text-decoration: none;
    font-weight: normal;
    font-size: 60px;
    color: rgb(72 112 255);

}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

header li {
    list-style: none;
    padding: 10px 0px 10px 120px;
}

header nav a {
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(72 112 255);
    justify-content: space-between;
}

#Polygon-1 {
    transform: translate(10px, 10px);
}
/*end header*/